<div class="row">
  {{#each events}}
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
        <div class="card-body">
             <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">Artist: {{this.artist}}</p>
            <p class="card-text">Date: {{this.date}} Time: {{this.time}}</p>
          <a href="{{this.bookingUrl}}" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>