<script>
    function form_req() {
        document.getElementById("comment").required = false;
        return;
    }
</script>

<div class="modal fade" tabindex="-1" id="comments">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Comments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Comments display section -->
                <div id="comment-box"
                    class="border border-gray-300 p-4 w-full rounded-lg shadow mb-4 max-h-96 overflow-y-auto">
                    <table class="table-auto w-full">
                        <thead>
                            <tr>
                                <th class="text-left font-semibold">Username</th>
                                <th class="text-left font-semibold">Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each comments}}
                            {{#if (isequal ../edit_comment_id_show comment_id)}}
                            <tr>
                                <td class="py-2">{{username}}</td>
                                <td>
                                    <form method="POST" action="/savedArticles">
                                        <div class="d-flex align-items-start">
                                            <input name="edited_comment_id" class="invisible" type="text"
                                                value="{{comment_id}}"
                                                style="width: 1px; height: 1px; padding: 0; margin: 0; border: none;">
                                            <input type="text" name="edited_comment_text" class="form-control" value="{{comment}}">
                                            <button style="margin-left: 10px;"
                                                class="bg-blue-500 text-white px-2 py-2 rounded-lg hover:bg-blue-600"
                                                type="submit"> Update </button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <td class="py-2">{{username}}</td>
                                <td class="py-2">{{comment}}</td>
                                {{#if (isequal ../user username)}}
                                <td>
                                    <form method="POST" action="/savedArticles">
                                        <div class="d-flex align-items-start">
                                            <input name="edit_comment_id_show" class="invisible" type="text"
                                                value="{{comment_id}}"
                                                style="width: 1px; height: 1px; padding: 0; margin: 0; border: none;">
                                            <button
                                                class="bg-blue-500 text-white px-2.5 py-2 rounded-lg hover:bg-blue-600"
                                                type="submit"> <i class="fa-solid fa-pen-to-square"></i> </button>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <form method="POST" action="/savedArticles">
                                        <div class="d-flex align-items-start">
                                            <input name="deleted_comment_id" class="invisible" type="text"
                                                value="{{comment_id}}"
                                                style="width: 1px; height: 1px; padding: 0; margin: 0; border: none;">
                                            <button id="delete_column" style="display: block" onclick="form_req()"
                                                class="bg-blue-500 text-white px-2.5 py-2 rounded-lg hover:bg-blue-600"
                                                type="submit"> <i class="fa-solid fa-trash"></i> </button>
                                        </div>
                                    </form>
                                </td>
                                {{/if}}
                            </tr>
                            {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <!-- Comment input section -->
                <form method="POST" action="/savedArticles" id="comment" style="display: block">
                    <div class="mb-3 flex space-x-3">
                        <textarea
                            class="form-control flex-grow border border-gray-300 rounded-lg p-2 resize-none focus:outline-none focus:border-blue-500"
                            name="comment" rows="3" placeholder="Start typing your comment here" required></textarea>
                        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600" type="submit">
                            Comment
                        </button>
                    </div>
                </form>

                {{!-- <form id="edit" style="display: none">
                    <div class="mb-3 flex space-x-3">
                        <textarea
                            class="form-control flex-grow border border-gray-300 rounded-lg p-2 resize-none focus:outline-none focus:border-blue-500"
                            name="edit" rows="3" placeholder="Type your new comment here" required></textarea>
                        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
                <button id="back" style="display: none" onclick="mode('comment')"
                    class="bg-blue-500 text-white px-2 py-2 rounded-lg hover:bg-blue-600">
                    Back to Commenting
                </button> --}}
            </div>
        </div>
    </div>
</div>

{{!-- <td>
    <form>
        <div class="d-flex align-items-start">
            <textarea class="form-control" rows="2">{{comment}}</textarea>
            <input name="edited_comment_id" class="invisible" type="text" value="{{comment_id}}"
                style="width: 1px; height: 1px; padding: 0; margin: 0; border: none;">
            <button onclick="form_req()" class="bg-blue-500 text-white px-2 py-2 rounded-lg hover:bg-blue-600"
                type="submit"> Update </button>
        </div>
    </form>
</td> --}}

{{!-- {{#each comments}}
<tr>
    <td class="py-2">{{username}}</td>
    <td class="py-2">{{comment}}</td>
    {{#if (isequal ../user username)}}
    <td>
        <button onclick="mode('edit')" class="bg-blue-500 text-white px-2 py-2 rounded-lg hover:bg-blue-600"
            type="submit"> Edit </button>
    </td>
    <td>
        <form method="POST" action="/savedArticles">
            <div class="d-flex align-items-start">
                <input name="deleted_comment_id" class="invisible" type="text" value="{{comment_id}}"
                    style="width: 1px; height: 1px; padding: 0; margin: 0; border: none;">
                <button onclick="form_req()" class="bg-blue-500 text-white px-2 py-2 rounded-lg hover:bg-blue-600"
                    type="submit"> Delete </button>
            </div>
        </form>
    </td>
    {{/if}}
</tr>
{{/each}} --}}