<script>
    function form_req() {
        document.getElementById("comment").required = false;
        return;
    }


    function toggleEditing(commentId) {
        const displayDiv = document.getElementById(`comment-display-${commentId}`);
        const editDiv = document.getElementById(`comment-edit-${commentId}`);
        const editBtn = document.getElementById(`edit-btn-${commentId}`);
        const saveBtn = document.getElementById(`save-btn-${commentId}`);
        

        if (!displayDiv || !editDiv || !editBtn || !saveBtn) {
            console.error("One or more elements are missing for commentId:", commentId);
            console.log(displayDiv);
            console.log(editDiv);
            console.log(editBtn);
            console.log(saveBtn);
            return;
        }

        if (displayDiv.style.display === "none") {
            displayDiv.style.display = "block";
            editDiv.style.display = "none";
            editBtn.style.display = "inline-block";
            saveBtn.style.display = "none";
        } else {
            displayDiv.style.display = "none";
            editDiv.style.display = "block";
            editBtn.style.display = "none";
            saveBtn.style.display = "inline-block";
        }
    }
</script>

<div class="modal fade" tabindex="-1" id="comments{{article_id}}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Comments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Comments display section -->
                <div id="comment-box"
                    class="border border-gray-300 p-4 w-full rounded-lg shadow mb-4 max-h-96 overflow-y-auto">
                    <table class="table-auto w-full">
                        <thead>
                            <tr>
                                <th class="text-left font-semibold">Username</th>
                                <th class="text-left font-semibold">Comment</th>
                            </tr>
                        </thead>
                        <tbody>                           
                        {{#each comments}}
                            <tr id="comment-row-{{comment_id}}">
                                <td class="py-2">{{username}}</td>
                                <form method="POST" action="/savedArticles">
                                <td class="py-2">
                                    <div id="comment-display-{{comment_id}}" style="display: block;">
                                        {{comment}}
                                    </div>
                                    <div id="comment-edit-{{comment_id}}" style="display: none;">
                                        <input type="text" name="edit-input-{{comment_id}}" id="edit-input-{{comment_id}}" class="form-control" value="{{comment}}">
                                    </div>
                                </td>
                                {{#if (isequal ../user username)}}
                                <td>
                                    <input name="edit_comment_id_show" type="hidden" type="text"
                                                value="{{comment_id}}">
                                    <button 
                                        id="save-btn-{{comment_id}}" 
                                        onclick="saveComment({{comment_id}})" 
                                        class="bg-green-500 text-white px-2.5 py-2 rounded-lg hover:bg-green-600"
                                        style="display: none;">
                                        Save
                                    </button>
                                </form>
                                    <button 
                                        id="edit-btn-{{comment_id}}" 
                                        onclick="toggleEditing({{comment_id}})" 
                                        class="bg-blue-500 text-white px-2.5 py-2 rounded-lg hover:bg-blue-600">
                                        <i class="fa-solid fa-pen-to-square"></i> <!-- Edit icon -->
                                    </button>
                                </td>
                                <td>
                                    <form method="POST" action="/savedArticles">
                                        <input type="hidden" name="deleted_comment_id" value="{{comment_id}}">
                                        <button class="bg-red-500 text-white px-2.5 py-2 rounded-lg hover:bg-red-600">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                                {{/if}}
                            </tr>
                        {{/each}}
           
                        </tbody>
                    </table>
                </div>

                <!-- Comment input section -->
                <form method="POST" action="/savedArticles" id="comment" style="display: block">
                    <div class="mb-3 flex space-x-3">
                        <textarea
                            class="form-control flex-grow border border-gray-300 rounded-lg p-2 resize-none focus:outline-none focus:border-blue-500"
                            name="comment" rows="3" placeholder="Start typing your comment here" required></textarea>
                        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600" type="submit">
                            Comment
                        </button>
                    </div>
                    <input type="hidden" id="commentRequest" name="commentRequest" value={{article_id}}>
                </form>

                {{!-- <form id="edit" style="display: none">
                    <div class="mb-3 flex space-x-3">
                        <textarea
                            class="form-control flex-grow border border-gray-300 rounded-lg p-2 resize-none focus:outline-none focus:border-blue-500"
                            name="edit" rows="3" placeholder="Type your new comment here" required></textarea>
                        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
                <button id="back" style="display: none" onclick="mode('comment')"
                    class="bg-blue-500 text-white px-2 py-2 rounded-lg hover:bg-blue-600">
                    Back to Commenting
                </button> --}}
            </div>
        </div>
    </div>
</div>

{{!-- <td>
    <form>
        <div class="d-flex align-items-start">
            <textarea class="form-control" rows="2">{{comment}}</textarea>
            <input name="edited_comment_id" class="invisible" type="text" value="{{comment_id}}"
                style="width: 1px; height: 1px; padding: 0; margin: 0; border: none;">
            <button onclick="form_req()" class="bg-blue-500 text-white px-2 py-2 rounded-lg hover:bg-blue-600"
                type="submit"> Update </button>
        </div>
    </form>
</td> --}}

{{!-- {{#each comments}}
<tr>
    <td class="py-2">{{username}}</td>
    <td class="py-2">{{comment}}</td>
    {{#if (isequal ../user username)}}
    <td>
        <button onclick="mode('edit')" class="bg-blue-500 text-white px-2 py-2 rounded-lg hover:bg-blue-600"
            type="submit"> Edit </button>
    </td>
    <td>
        <form method="POST" action="/savedArticles">
            <div class="d-flex align-items-start">
                <input name="deleted_comment_id" class="invisible" type="text" value="{{comment_id}}"
                    style="width: 1px; height: 1px; padding: 0; margin: 0; border: none;">
                <button onclick="form_req()" class="bg-blue-500 text-white px-2 py-2 rounded-lg hover:bg-blue-600"
                    type="submit"> Delete </button>
            </div>
        </form>
    </td>
    {{/if}}
</tr>
{{/each}} --}}